.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
}
